{% extends 'base.html' %}

{% block content %}

        <div class="row no-gutters border rounded overflow-hidden">

            <img src="data:image/png;base64,{{ data }}" alt="">

            <form class="form-inline">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">x</span>
                    <input class="form-control" type="search" value="5" name="x" aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon2">y</span>
                    <input class="form-control" type="search" value="5" name="y" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon3">z</span>
                    <input class="form-control" type="search" value="10" name="z" aria-describedby="basic-addon3">
                    <span class="input-group-text" id="basic-addon1">c</span>
                    <input class="form-control" type="search" value="80" name="c" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-outline my-2 my-sm-0" type="submit" style="margin: auto">Render</button>
            </form>

        </div>
    </div>
{% endblock %}